@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.navbar img {
    width: 100px;
    margin-left: 20px;
  }
  .navbar {
    background-color: #e21818;
    color: #fff;
    padding: 10px 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 40px;
    margin-left: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
    border-radius: 5px;
    background-color: #c54790;
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

body {
    font-family: Arial, sans-serif;
    background-image: url(image/pic1.webp);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.privcontainer {
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    border: none;
    border-radius: 5px;
    background-color: #e2181887;
    color: white;
    text-align: justify;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #e21818;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #c54790;
}